body {
	background:#00ffff;
	font-family: verdana;
}

p {
  font-size: 16px;
}
li {
	padding-left: 18px;
  padding-bottom: 8px;
  font-size: 16px;
}

h1 {
	border-style: solid;
	font-family: arial;
	padding: 6px;
}

h2 {
	font-family: arial;
}

.header {

}

footer {
	padding: 12px;
	text-align: center;
}

#form {
	background-image: url("clouds.jpg");
	padding: 8px;
}

a:link {
    color: #339999;
}

a:visited {
    color: #99ccff;
}

a:hover {
    color: #99ff99;
}

a:active {
    color: #00ff33;
}