
body {
  font-family: 'Cherry Swash', cursive;
  font-family: 'Montserrat', sans-serif;
  background-color: #f1f1f1;
  margin: 0em;
  padding: 0em;
}

#header {
  background-color: #6e4961;
  color: #fff;
}

#marketing {
  background-image: url(images/produce.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
